.about {
  margin-top: 126px;
  background-color: $lightblue;
}

.section__title {
  padding-top: 135px;
}

.about__license {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  padding-bottom: 135px;
}

.about__license-image {
  border-radius: 20px;
  overflow: hidden;
}

