.about {
  margin-top: 126px;
  background-color: #e3ecf9;
}

.section__title {
  padding-top: 135px;
}

.about__text {
  margin-top: 28px;
  margin-bottom: 100px;
}

.about__license {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap:20px;
    padding-bottom: 135px;
}

.about__license-image {
    border-radius: 20px;
    overflow: hidden;
}
