$ral: "Raleway", sans-serif;
$mon: "Montserrat", sans-serif;
$white: #fff;
$green: #0b4b59;
$lightgreen: #e1f7f9;
$black: #000;
$grow: #5e5c5c;
$lightgrow: #ababab;
$black-opacity: rgba(0, 0, 0, 0.15);

body {
  min-height: 100vh;
  background-color: $white;
  font-family: $ral;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}

.container {
  max-width: 1256px;
  padding: 0 2px;
  margin: 0 auto;
}

.section__title {
  font-family: $ral;
  font-weight: 800;
  font-size: 48px;
  color: $black;
}

.text {
  margin-top: 28px;
  margin-bottom: 100px;
}
